.hero__section {
  position: relative;
}

.hero__section::before {
  content: "";
  position: absolute;
  background: var(--light-color-300);
  right: 0;
  width: 50vw;
  height: 100%;
}

.hero__media img {
  z-index: 2;
}

/*
.hero__media::before {
  position: absolute;
  content: " ";
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: #f08680;
  z-index: -1;
  bottom: 0;
  right: 23%;
  top: 55%;
  z-index: 1; 
}
*/

.hero__layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 900px) {
  .hero__layout {
    flex-direction: column;
  }
  .hero__content {
    padding-top: 50px;
  }
  .hero__section::before {
    width: 100vw;
    height: 100%;
  }
}

.hero__layout > div {
  flex: 1;
}

.hero__content--title {
  max-width: 350px;
  text-align: center;
}

.hero__content--title h1 {
  font-weight: 300;
  line-height: 55px;
}

.hero__media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.hero__media img {
  max-height: 350px;
  width: auto;
  height: 100%;
  border-top: 5px solid var(--primary-color);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.17);
}
